:root {
  --viewport-width: 2000px;
  --detail-view-width: 32vw;
}

@import 'components/close';
@import 'components/open';

.BetterJira {
  &-instructions {
    position: relative;
    top: 0;
    right: 0;
    z-index: 2;
    background: rgba(9, 30, 66, 0.04) none repeat scroll 0% 0%;
    transition: background 0.1s ease-out 0s, box-shadow 0.15s cubic-bezier(0.47, 0.03, 0.49, 1.38) 0s;
    color: var(--ds-text,#42526E) !important;
    font-weight: 500;
    padding: 0px 10px;
    height: 2.28571em;
    line-height: 2.28571em;
    cursor: pointer;

    .text {
      margin-right: 1.4rem;
    }

    &:hover {
      background: rgba(9, 30, 66, 0.08);
      color: rgb(66, 82, 110) !important;
      transition-duration: 0s, 0.15s;
    }

    @include close-button($top: 0px, $close-color: #d04437);
    @include open-button($top: 0px, $open-color: #0052CC);
  }
}

body.better-jira {

  #ghx-column-headers .ghx-column {
    padding:5px 17px !important;

    h2, .ghx-qty, .ghx-limits {
      font-size:1em !important;
      font-weight:700 !important;
    }

  }
  
  #gh #ghx-work #ghx-pool-column.ghx-flexible-board .ghx-swimlane .ghx-swimlane-header {
    top:30px !important;
  }
  /* horizontal scroll on kanban boards */
  #ghx-pool-column {
    overflow-y: auto;
  }
  #ghx-pool,
  #jira-board {
    width: var(--viewport-width);
  }

  #ghx-pool-wrapper {
    display:grid;
  }

  /* horizontal scroll on board settings -> columns option */
  .ghx-page-panel-content-item {
    overflow-y: hidden;
  }
  #ghx-mapping {
    width: var(--viewport-width) !important;
  }

  /* story detail view coulmn */
  #ghx-detail-view:not(.ui-resizable) {
    width: var(--detail-view-width) !important;
    position: relative;
    z-index: 3;
  }

  /* Prevent column headers from overlapping when scrolling vertically */
  .aui-sidebar {
    z-index: 2;
  }

  #ghx-pool-column {
    display: block !important;
    overflow-x: scroll !important;
  }

  .better-resize {
    z-index: 90;
    width: 7px;
    position: absolute;
    top: 0;
    left: -2px;
    cursor: col-resize;
    height: 100%;
  }
}

body.screenshot {
  #js-work-quickfilters dd,
  .ghx-key-group,
  .ghx-group {
    filter: blur(3px);
  }

  #ghx-view-selector {
    filter: blur(5px);
  }

  .ghx-detail-summary,
  #js-detail-nav-content {
    filter: blur(4px);
  }

  //-- Cards
  .ghx-wrap-issue {
    section {
      filter: blur(4px);
    }
    .ghx-grabber {
      filter: blur(3px);
    }
  }
}
