:root {
  --viewport-width: 2000px;
  --detail-view-width: 32vw;
}

body.better-jira {
  /* horizontal scroll on kanban boards */
  #ghx-pool-column {
    overflow-y: hidden;
  }
  #ghx-pool {
    width: var(--viewport-width);
  }

  /* horizontal scroll on board settings -> columns option */
  .ghx-page-panel-content-item {
    overflow-y: hidden;
  }
  #ghx-mapping {
    width: var(--viewport-width) !important;
  }

  /* story detail view coulmn */
  #ghx-detail-view {
    width: var(--detail-view-width) !important;
    position: relative;
    z-index: 3;
  }

  /* Prevent column headers from overlapping when scrolling vertically */
  .aui-sidebar {
    z-index: 2;
  }

  /*
  |--------------------------------------------------------------------------
  | Resizable Details View
  |--------------------------------------------------------------------------
  */

  #ghx-detail-view {
    .better-resize {
      opacity: 0;
    }

    &:hover {
      .better-resize {
        opacity: 1
      }
    }
  }

  .better-resize {
    z-index: 90;
    width: 2px;
    position: absolute;
    top: 0;
    left: 0;
    cursor: col-resize;
    border-right: 1px solid #d4d4d4;
    transition: opacity 0.3s ease-in-out;
    height: calc(100% - 65px);
    border-top: 25px solid transparent;
    border-bottom: 25px solid transparent;
  }

  &.adg3 #ghx-detail-contents {
    border-left: 1px solid #d4d4d4 !important;
  }
}
