$font-size: 16px;
$brand-primary: #1a5ca2;
$error: #991818;
$success: #1cb330;

html {
  background-color: #f5f6f7;
}

body {
  font-family: "Raleway", Helvetica, sans-serif;
  font-size: 100%;
  width: 450px;
  margin: 0;
}

header, main {
  padding: 8px;
}

header {
  background-color: #fff;
  border-bottom: 1px solid #d1d4d7;
  box-shadow: 0 0 5px rgba(0, 0, 0, .1);
  position: relative;
}

main {
  //
}

.close {
  position: absolute;
  right: -2px;
  top: 0px;
  font-size: 1.7rem;
  font-family: verdana;
  transform: rotate(45deg);
  cursor: pointer;
  user-select: none;
  color: $error;

  &:hover {
    color: darken($error, 20%);
  }
}

h1 {
  margin: 0;
  font-family: "Montserrat", Helvetica, sans-serif;
  display: inline-block;
  color: $brand-primary;
  user-select: none;
  cursor: default;
}

form {
  height: 100%;
  width: 100%;

  p {
    color: #808080;
    font-size: 0.9rem;
  }

  label {
    user-select: none;
  }

  label.checkbox {
    background-color: white;
    border-radius: 4px;
    padding: 8px;
    border: 1px solid #dddddd;
    display: block;
    cursor: pointer;
  }

  input[type="submit"] {
    background-color: $success;
    color: white;
    font-size: $font-size;
    font-family: "Raleway", Helvetica, sans-serif;
    border: none;
    border-radius: 4px;
    padding: 0 36px;
    letter-spacing: 0.5px;
    cursor: pointer;
    outline: none;

    &:hover {
      background-color: lighten($success, 2%);
    }

    &:active {
      background-color: $success;
    }
  }

  input[type="number"] {
    font-size: $font-size;
    font-family: "Montserrat", Helvetica, sans-serif;
    padding-left: 22px;
    padding-right: 0;
    width: 54px;
    outline: none;
  }

  .form-element {
    padding: 6px;

    label {
      margin-right: 8px;
    }
  }
}

.card {
  background-color: white;
  border-radius: 4px;
  padding: 8px;
  border: 1px solid #dddddd;

  .row {
    margin-bottom: 0;
  }
}

.row {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
}
.col-6 {
  margin-right: 2rem;
  flex: 1;

  &:last-child {
    margin-right: 0;
  }
}
