$nice-blue: #3b7fc4;

@import 'components/close';

body.standup {
  #ghx-header, #header, .aui-sidebar {
    display: none;
  }

  #ghx-operations {
    padding-top: 1rem;
  }

  #gh {
    padding-left: 0;
    margin-left: 0;
  }

  #ghx-rabid {
    height: 100vh;
  }
  #ghx-work {
    height: 100vh !important;
  }

  #ghx-column-header-group .large-column {
    // background-color: white;
  }

  .large-column {
    width: 400px !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  }

  .instructions {
    position: fixed;
    top: 0.2rem;
    right: 1rem;
    z-index: 2;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    padding: 0.5rem 1rem;
    margin-top: 0.8rem;

    .text {
      margin-right: -1rem;
    }

    @include close-button($absolute-positioning: false);
  }

  /*
  |--------------------------------------------------------------------------
  | New JIRA Experience
  |--------------------------------------------------------------------------
  */

  &.adg3 {
    #navigation-app {
      display: none;
    }

    #content {
      margin-left: 1rem;
      margin-right: 0;
    }
  }

}
