@mixin close-button($close-color: #d04437, $top: 0px) {
  .close {
    position: absolute;
    right: -2px;
    top: $top;
    font-size: 1.7rem;
    font-family: verdana;
    transform: rotate(-90deg);
    cursor: pointer;
    user-select: none;
    color: $close-color;

    &:hover {
      color: darken($close-color, 20%);
    }
  }
}
