@mixin close-button($error-color: #991818, $top: 0px) {
  .close {
    position: absolute;
    right: -2px;
    top: $top;
    font-size: 1.7rem;
    font-family: verdana;
    transform: rotate(45deg);
    cursor: pointer;
    user-select: none;
    color: $error-color;

    &:hover {
      color: darken($error-color, 20%);
    }
  }
}
